<form method="post" action="index.php">

    <input type="hidden" name="cmd" value="{{$cmd}}">
    Eesnimi: <br>
    <input name="name"> <br>
    <p>
        <select required multiple size="7" name="sectors">
            <optgroup label="Manufacturing">
                <option value="Construction material">Construction materials</option>
                <option value="Electronics and Optics">Electronics and Optics</option>
                <option value="Food and Beverage">Food and Beverage</option>
                <option value="Bakery & confectionery products">&nbsp;&nbsp;&nbsp;&nbsp;Bakery &amp; confectionery products</option>
                <option value="Beverages">&nbsp;&nbsp;&nbsp;&nbsp;Beverages</option>
                <option value="Fish & fish products">&nbsp;&nbsp;&nbsp;&nbsp;Fish &amp; fish products </option>
                <option value="Meat & meat products">&nbsp;&nbsp;&nbsp;&nbsp;Meat &amp; meat products</option>
                <option value="Milk & dairy products">&nbsp;&nbsp;&nbsp;&nbsp;Milk &amp; dairy products </option>
                <option value="Other">&nbsp;&nbsp;&nbsp;&nbsp;Other</option>
                <option value="Sweets & snack food">&nbsp;&nbsp;&nbsp;&nbsp;Sweets &amp; snack food</option>
                <option value="Furniture">Furniture</option>
                <option value="Bathroom/sauna">&nbsp;&nbsp;&nbsp;&nbsp;Bathroom/sauna </option>
                <option value="Bedroom">&nbsp;&nbsp;&nbsp;&nbsp;Bedroom</option>
                <option value="Childrens room">&nbsp;&nbsp;&nbsp;&nbsp;Childrens room </option>
                <option value="Kitchen">&nbsp;&nbsp;&nbsp;&nbsp;Kitchen </option>
                <option value="Living room">&nbsp;&nbsp;&nbsp;&nbsp;Living room </option>
                <option value="Office">&nbsp;&nbsp;&nbsp;&nbsp;Office</option>
                <option value="Other (Furniture)">&nbsp;&nbsp;&nbsp;&nbsp;Other (Furniture)</option>
                <option value="Outdoor">&nbsp;&nbsp;&nbsp;&nbsp;Outdoor </option>
                <option value="Project furniture">&nbsp;&nbsp;&nbsp;&nbsp;Project furniture</option>
                <option value="Machinery">Machinery</option>
                <option value="Machinery components">&nbsp;&nbsp;&nbsp;&nbsp;Machinery components</option>
                <option value="Machinery equipment/tools">&nbsp;&nbsp;&nbsp;&nbsp;Machinery equipment/tools</option>
                <option value="Manufacture of machinery">&nbsp;&nbsp;&nbsp;&nbsp;Manufacture of machinery </option>
                <option value="Maritime">&nbsp;&nbsp;&nbsp;&nbsp;Maritime</option>
                <option value="Aluminium and steel workboats">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aluminium and steel workboats </option>
                <option value="Boat/Yacht building">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Boat/Yacht building</option>
                <option value="Ship repair and conversion">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ship repair and conversion</option>
                <option value="Metal structures">&nbsp;&nbsp;&nbsp;&nbsp;Metal structures</option>
                <option value="Other">&nbsp;&nbsp;&nbsp;&nbsp;Other</option>
                <option value="Repair and maintenance service">&nbsp;&nbsp;&nbsp;&nbsp;Repair and maintenance service</option>
                <option value="Metalworking">Metalworking</option>
                <option value="Construction of metal structures">&nbsp;&nbsp;&nbsp;&nbsp;Construction of metal structures</option>
                <option value="Houses and buildings">&nbsp;&nbsp;&nbsp;&nbsp;Houses and buildings</option>
                <option value="Metal products">&nbsp;&nbsp;&nbsp;&nbsp;Metal products</option>
                <option value="Metal works">&nbsp;&nbsp;&nbsp;&nbsp;Metal works</option>
                <option value="CNC-machining">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CNC-machining</option>
                <option value="Forgings, Fasteners">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forgings, Fasteners </option>
                <option value="Gas, Plasma, Laser cutting">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gas, Plasma, Laser cutting</option>
                <option value="MIG, TIG, Aluminum welding">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MIG, TIG, Aluminum welding</option>
                <option value="Plastic and Rubber">Plastic and Rubber</option>
                <option value="Packaging">&nbsp;&nbsp;&nbsp;&nbsp;Packaging</option>
                <option value="Plastic goods">&nbsp;&nbsp;&nbsp;&nbsp;Plastic goods</option>
                <option value="Plastic processing technology">&nbsp;&nbsp;&nbsp;&nbsp;Plastic processing technology</option>
                <option value="Blowing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blowing</option>
                <option value="Moulding">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Moulding</option>
                <option value="Plastics welding and processing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Plastics welding and processing</option>
                <option value="Plastic profiles">&nbsp;&nbsp;&nbsp;&nbsp;Plastic profiles</option>
                <option value="Printing">Printing </option>
                <option value="Advertising">&nbsp;&nbsp;&nbsp;&nbsp;Advertising</option>
                <option value="Book/Periodicals printing">&nbsp;&nbsp;&nbsp;&nbsp;Book/Periodicals printing</option>
                <option value="Labelling and packaging printing">&nbsp;&nbsp;&nbsp;&nbsp;Labelling and packaging printing</option>
                <option value="Textile and Clothing">Textile and Clothing</option>
                <option value="Clothing">&nbsp;&nbsp;&nbsp;&nbsp;Clothing</option>
                <option value="Textile">&nbsp;&nbsp;&nbsp;&nbsp;Textile</option>
                <option value="Wood">Wood</option>
                <option value="Other (Wood)">&nbsp;&nbsp;&nbsp;&nbsp;Other (Wood)</option>
                <option value="Wooden building materials">&nbsp;&nbsp;&nbsp;&nbsp;Wooden building materials</option>
                <option value="Wooden houses">&nbsp;&nbsp;&nbsp;&nbsp;Wooden houses</option>
            </optgroup>
            <optgroup label="Other">
                <option value="Creative industries">&nbsp;&nbsp;&nbsp;&nbsp;Creative industries</option>
                <option value="Energy technology">&nbsp;&nbsp;&nbsp;&nbsp;Energy technology</option>
                <option value="Environment">&nbsp;&nbsp;&nbsp;&nbsp;Environment</option>
            </optgroup>
            <optgroup label="Services">
                <option value="Business services">Business services</option>
                <option value="Engineering">Engineering</option>
                <option value="Information Technology and Telecommunications">Information Technology and Telecommunications</option>
                <option value="Data processing, Web portals, E-marketing">&nbsp;&nbsp;&nbsp;&nbsp;Data processing, Web portals, E-marketing</option>
                <option value="Programming, Consultanc">&nbsp;&nbsp;&nbsp;&nbsp;Programming, Consultancy</option>
                <option value="Software, Hardware">&nbsp;&nbsp;&nbsp;&nbsp;Software, Hardware</option>
                <option value="Telecommunications">&nbsp;&nbsp;&nbsp;&nbsp;Telecommunications</option>
                <option value="Tourism">Tourism</option>
                <option value="Translation services">Translation services</option>
                <option value="Transport and Logistics">Transport and Logistics</option>
                <option value="Air">&nbsp;&nbsp;&nbsp;&nbsp;Air</option>
                <option value="Rail">&nbsp;&nbsp;&nbsp;&nbsp;Rail</option>
                <option value="Road">&nbsp;&nbsp;&nbsp;&nbsp;Road</option>
                <option value="Water">&nbsp;&nbsp;&nbsp;&nbsp;Water</option>
            </optgroup>
        </select>
    </p>
    <p>
        <input required type="checkbox" name="agreed"> Agree to terms
    </p>
    <input type="submit" name="submit-button" value="Sisesta" />



</form>